<header id="header">

  <div class="menu-area">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">



          <a class="navbar-brand" href="index.html"><img [src]="LOGO" class="logo" alt="logo"></a>

        </div>
      </div>
    </nav>
  </div>
  <!-- END MENU -->
</header>
<div class="container">
  <app-postajob>

  </app-postajob>
</div>
<footer id="footer">


  <div class="footer_bottom">
    <div class="container-fluid1">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="footer_bootomLeft">
            <p> Copyright © 2009  <a href="http://spruceinfotech.com/" rel="nofollow" style="color: bisque">Spruce Infotech.com</a>, All Rights Reserved.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="footer_bootomRight">
            <p>Powered  by <a href="http://suthratech.com/" rel="nofollow" style="color: bisque">Suthra Technologies Inc.</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
